$colour-primary: black;
$colour-secondary: white;
$colour-highlight: #00FFB2;
$colour-tag-text: grey;
$colour-tag-background: lightgrey;

$font-title: "Sintony", sans;
$font-body: "Proza Libre", sans-serif;

$font-size-title: 2rem;
$font-size-body: 0.75rem;